
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #38b9cf;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
nav {
  position: relative; 
  top:0;
  right: 0px;
  height: 100%; 
  opacity: 90%;
  position: fixed; 
  z-index: 9999;
}
/*Style for menu button*/
nav #nav-toggle {
  background: white; 
  border: none;
  color: black;
  font-size: 1rem;
  cursor: pointer;
  border: none; 
}

#nav-menu {
  background-color: white;
  max-height: 0;
  opacity: 0;
  list-style: none; 
  visibility: hidden;
  padding: 0;
  margin:0;
  transform: translateX(0px);
  transition: max-height 0.5s ease-out, opacity 0.5s ease-out, transform 0.5s ease-out, visibility 0s 0.5s; 
}

#nav-menu.active {
  max-height: 300px;
  visibility: visible;
  opacity: 1;
  flex-direction: row;
  transform: translateX(-90px);
  transition: max-height 2s ease-out, opacity 1s ease-out, transform 0.5s ease-out, visibility 0s; 
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.section {
  position: relative;
  height: 100vh; 
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  padding: 1rem;
  top: 300px;
  z-index: 3;
}


#app {
  flex-direction: column;
  flex: 1;
  width: 100%;
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
}

#backpage {
  position: fixed; 
  height: 50vh;
  width: 100%;
  z-index: 1;
  opacity: 1; 
  background-color: rgb(161, 212, 234);
}

#home {  
  z-index: 3; 
  background: linear-gradient(to bottom, #4682b4 0%, #6fb7d6 100%);
}
#HomeTop {
  position:relative;
  top: 0; 
  right: 20rem; 
  padding: 1rem;
  font-size: 12;
 
}

#about {
  background: linear-gradient(to bottom, #6fb7d6 0%, #4fac87 100%);
}

#portfolio {
  background: linear-gradient(to bottom, #4fac87 0%, #3a8b6f 100%);
}
#contact {
  background: linear-gradient(to bottom, #3a8b6f 0%, #2e8b57 100%);
}


footer {
  position: relative;
  margin-top: auto;
  width: 100%;
  text-align: center;
  background-color: #333;
  color: #fff;
  padding:0;
  z-index: 999;
  top: 300px;

}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #8139e0aa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #a15454;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  background-color: #3d9e2a;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}



